* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}

body {
  background-color: #303030;
}

#root {
  max-width: 95%;
  margin: 0 auto;
}

.card {
  border: 3px solid transparent;
  border-radius: 25px;
}

.card.done {
  border: 3px solid #04b1cf;
  border-radius: 25px;
}
